<div id="dashboard">
	<div class="row">
		<h3>typefighter</h3>

		<p>{{passage}}</p>
		<hr>

		<input type="text"
	         class="col-sm-12"
	         id="currentword"
	         placeholder="type!"
	         value=""
	</div>
</div>